#container {
    font-size: 18px;
}
.main_heading {
    background-color: grey;
}
.main {
    background-color: blue;
}
.main_footer {
    background-color: green;
}
.main_header,
.main_footer {
  color: red;
}
body {
    font-family: 'Open Sans', sans-serif;
}